<form #tasks="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Title</label>
    <input type="text" required [(ngModel)]="task.title"  name="title"/>
  </div>
  <div>
    <label>Description</label>
    <input type="text" required [(ngModel)]="task.description"  name="description"/>
  </div>
  
  <div>
    <label>Category</label>
    <select id="Labels" required [(ngModel)]="task.label" name="Labels">
      <option value="work">Work</option>
      <option value="personal">Personal</option>
    </select>
  </div>

  <div class="radio-container" *ngIf="task.label==='work'">
    <input type="radio" value="Travel" name="workLabel" [(ngModel)]="task.labelSub" required> Travel
    <input type="radio" value="Food" name="workLabel" [(ngModel)]="task.labelSub" required> Food
  </div>

  <div class="radio-container" *ngIf="task.label==='personal'">
    <input type="radio" value="Rent" name="personalLabel" [(ngModel)]="task.labelSub" required> Rent
    <input type="radio" value="Groceries" name="personalLabel" [(ngModel)]="task.labelSub" required> Groceries
  </div>
  <div>
    <button type="submit"  [disabled]="!tasks.form.valid">Add Task</button>
  </div>
</form>

<div class="flexed">
  <table>
    <tr>
      <th>Title</th>
      <th>Descrption</th>
      <th>Category</th>
      <th>Label</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let task of taskListWork">
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.label}}</td>
      <td>{{task.labelSub}}</td>
      <td><button (click)="deleteItem(task.title)">Delete</button></td>
    </tr>
  </table>

  <table>
    <tr>
      <th>Title</th>
      <th>Descrption</th>
      <th>Category</th>
      <th>Label</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let task of taskListPersonal">
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.label}}</td>
      <td>{{task.labelSub}}</td>
      <td><button (click)="deleteItem(task.title)">Delete</button></td>
    </tr>
    
  </table>
 

</div>